<ion-view title="Home ">
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="homeCtrl">
        <h2>Most Goals</h2>
        <div class="list card">
            <canvas linechart responsive=true options="options" data="goals" height="auto"></canvas>
        </div>
        <div class="spacer" style="width: 283px; height: 62px;"></div>
        <h2>Top Players</h2>
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body"></div>
        </div>
    </ion-content>
</ion-view>