<ion-view title="Player Search">
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="itemSearchCtrl as item">
        <div ng-init="items">
        </div>

        <form class="list"></form>
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="" ng-model="searchText">
            </label>
        </form>


        <div class="list card" collection-repeat="item in items | filter:searchText" ng-model="item.name" ui-sref="tabsController.details"
        ng-click="details()">
            <div class="item item-divider">{{item.Player_Forename}} {{item.Player_Surname}}</div>
            <div class="item item-body"></div>
        </div>
        

        <!--<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>-->

    </ion-content>
</ion-view>